<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574923021714-7rm2dsdu0ru01qu2mgcteilb2q5miosv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574923021714-7rm2dsdu0ru01qu2mgcteilb2q5miosv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>574923021714-blhc1ea3hrdeeahhs59tlffhnkulgihc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC24KUHPyK3UJaeHvm8jHlD1RWra9LPHWY</string>
	<key>GCM_SENDER_ID</key>
	<string>574923021714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilolo.app</string>
	<key>PROJECT_ID</key>
	<string>ilolo-29fad</string>
	<key>STORAGE_BUCKET</key>
	<string>ilolo-29fad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574923021714:ios:7a18fe350247f4a89fb54b</string>
</dict>
</plist>
